// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
$indigo-pink-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$indigo-palette),
            accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($indigo-pink-theme);
.deeppurple-amber-theme {
    $deeppurple-amber-theme: mat.define-light-theme(
        (
            color: (
                primary: mat.define-palette(mat.$deep-purple-palette),
                accent: mat.define-palette(mat.$amber-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($deeppurple-amber-theme);
}

.pink-bluegrey-theme {
    $pink-bluegrey-theme: mat.define-dark-theme(
        (
            color: (
                primary: mat.define-palette(mat.$pink-palette, 700, 500, 900),
                accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($pink-bluegrey-theme);
}

.purple-green-theme {
    $purple-green-theme: mat.define-dark-theme(
        (
            color: (
                primary: mat.define-palette(mat.$purple-palette, 700, 500, 800),
                accent: mat.define-palette(mat.$green-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($purple-green-theme);
}

/* You can add global styles to this file, and also import other style files */
