<div id="room">
  <h1>Rooms</h1>

  <div class="divider"></div>

  <div class="container contentSelect">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="hotelSelect">Hotel</label>
      </div>
      <select class="custom-select" id="hotelSelect" (change)="updateSelectedHotel($event.target.options.selectedIndex)">
        <option *ngFor="let hotel of hotelPKs">{{ hotel.name }}</option>
      </select>
    </div>
  </div>

  <table
    id="ht"
    align="center"
    border="1"
    width="1000"
    class="table-striped table-hover"
  >
    <thead class="roomsheader">
      <th class="contentCell">HOTEL NUMBER</th>
      <th class="contentCell">ROOM NUMBER</th>
      <th class="contentCell">ROOM TYPE</th>
      <th class="contentCell">ROOM PRICE</th>
      <th class="actionCell">ACTION</th>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms; let i = index">
        <td class="contentCell">{{ room.hotelnb }}</td>
        <td class="contentCell">{{ room.roomnb }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeRoomType($event, i)">{{ room.type }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeRoomPrice($event, i)">{{ room.price }}</td>
        <td class="actionCell">
          <button type="button" class="submitbtn" (click)="updateRoom(i)"> <i class="fa fa-edit"></i></button>
          <button type="button" class="deletebtn" (click)="deleteRoom(room.hotelnb, room.roomnb)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>

      <tr class="blank_row">
        <td class="contentCell">{{selectedHotel.hotelnb}}</td>
        <td class="contentCell" contenteditable="true" placeholder="New Number" #newRoomNb></td>
        <td class="contentCell" contenteditable="true" placeholder="New Type" #newRoomType></td>
        <td class="contentCell" contenteditable="true" placeholder="New Price" #newRoomPrice></td>
        <td class="contentCell"></td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn" (click)="insertRoom()">+</button>
</div>
