<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP4</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/jardins">Liste jardins</a>
      <a class="nav-item nav-link active" routerLink="/plantes">Rechercher une plante</a>
      <a class="nav-item nav-link active" routerLink="/varietes">Modifier une variété</a>
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <p>
    Bienvenue aux jardins communautaires du Plateau Mont-Royal
  </p>
  <button type="button" class="btn" routerLink="/jardins">Parcourir nos jardins...</button>
</div>

<router-outlet></router-outlet>
