<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP5</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/hotels">Hotels</a>
      <a class="nav-item nav-link active" routerLink="/rooms">Rooms</a>
      <a class="nav-item nav-link active" routerLink="/guests">Guests</a>
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <p>
    Welcome<br />to<br /><span class="hotel1">hotels</span
    ><span class="hotel2">hotels</span><span class="hotel3">hotels</span>
  </p>
  <button type="button" class="btn" routerLink="/hotels">CHECK OUR HOTELS &#10140;</button>
</div>

<router-outlet></router-outlet>
