<h2 mat-dialog-title align="center">Ajoutez une nouvelle variété de plante</h2>
<mat-divider></mat-divider>
<br />
<div mat-dialog-content>
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Entrez un nom de variété</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Nom de variété</mat-label>
          <input matInput placeholder="Ex. Nantaise 3" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Prochaine étape</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Années et périodes</ng-template>
        <!-- <mat-form-field appearance="fill">
          <mat-label>Année de mise en marché</mat-label>
          <input matInput [matDatepicker]="dp" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          (monthSelected)="setMonthAndYear($event, dp)"
                          panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field> -->

        <br/>
        <mat-form-field appearance="fill">
          <mat-label>Période de mise en place</mat-label>
          <input matInput placeholder="Ex. Entre le 10 et le 20 juin" formControlName="thirdCtrl" required>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
          <mat-label>Période de récolte</mat-label>
          <input matInput placeholder="Ex. Entre le 1er et le 31 août" formControlName="fourthCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Prochaine étape</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button (click)="stepper.reset()">Réinitialiser</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary">Ajoutez ! <mat-icon>local_florist</mat-icon></button>
  <button mat-button mat-dialog-close color="primary">Annuler <mat-icon>clear</mat-icon></button>
</div>
