.card-border {
  border: 1px dashed #673ab7;
}

.no-content {
  text-align: center;
  color:rgb(120, 4, 0);
}

.no-content-icon {
  font-size: 18px;
}

.card-subtitle {
  color: #673ab7;
  font-weight: bold;
  font-size: 18px;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.to-be-defined {
  color: indianred;
}

.wider {
  min-width: 400px;
  max-width: 100%;
  width: 100%;
}

.randomize-adds {
  justify-content: flex-end;
  text-align: right;
  height: 30px !important;
}
