.card-border {
  border: 1px dashed #673ab7;
}

.no-content {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  color:rgb(120, 4, 0);
}

.content {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
  color:rgb(132, 165, 0);
}

.no-content-icon {
  font-size: 18px;
}

.card-subtitle {
  color: #673ab7;
  font-weight: bold;
  font-size: 18px;
}
