<h5 mat-dialog-title align="end">Superficie : {{ data.jardin.surface }} km²</h5>
<h2 mat-dialog-title align="center">Jardin #{{ data.jardin.id }} : {{ data.jardin.nom }}</h2>
<mat-divider></mat-divider>
<br />
<div mat-dialog-content>
  <div *ngIf="data.parcelles.length === 0">
    <p class="no-content">
      Ce jardin ne contient aucune parcelle...
      <mat-icon class="no-content-icon">sentiment_very_dissatisfied</mat-icon>
    </p>
  </div>
  <div *ngIf="data.parcelles.length" >
    <div *ngFor="let parcelle of data.parcelles; index as i">
      <mat-card class='card-border'>
        <mat-card-subtitle align="center">Parcelle #{{ i + 1 }}</mat-card-subtitle>
        <mat-card-content>Coordonnées : {{ parcelle.coordonnees }}</mat-card-content>
        <mat-card-content>Dimensions : {{ parcelle.dimensions }}</mat-card-content>
        <mat-card-content>
          <div *ngIf="this.getRangsOfParcelle(parcelle, data.rangsParcelles).length">
            <ul *ngFor="let rang of this.getRangsOfParcelle(parcelle, data.rangsParcelles)[0].rangs">
              <li>
                <p>Rang #{{ rang.numero }}</p>
                <p>Coordonnées : {{ rang.coordonneesrang }}</p>
                <p *ngIf="rang.datedebutjachere || rang.datefinjachere">Période de jachère :
                  <span *ngIf="rang.datedebutjachere">
                    {{ rang.datedebutjachere.substring(0, 10) }}
                  </span>
                  <span *ngIf="rang.datefinjachere">
                     au {{ rang.datefinjachere.substring(0, 10) }}
                  </span>
                </p>
              </li>
            </ul>
          </div>
          <div *ngIf="!this.getRangsOfParcelle(parcelle, data.rangsParcelles).length">
            <p class="no-content">
              Cette parcelle ne contient aucun rang...
              <mat-icon class="no-content-icon">sentiment_very_dissatisfied</mat-icon>
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Retour à la liste <mat-icon> local_florist</mat-icon></button>
</div>
