<div>
  <h1>Nos jardins</h1>
  <table mat-table [dataSource]="jardins" class="mat-elevation-z8">
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let jardin"> {{jardin.id}} </td>
    </ng-container>
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> nom </th>
      <td mat-cell *matCellDef="let jardin"> {{jardin.nom}} </td>
    </ng-container>
    <ng-container matColumnDef="surface">
      <th mat-header-cell *matHeaderCellDef> surface </th>
      <td mat-cell *matCellDef="let jardin"> {{jardin.surface}} </td>
    </ng-container>
    <ng-container matColumnDef="bPotager">
      <th mat-header-cell *matHeaderCellDef> Est un potager </th>
      <td mat-cell *matCellDef="let jardin"> {{jardin.bpotager ? 'oui' : 'non'}} </td>
    </ng-container>
    <ng-container matColumnDef="bOrnement">
      <th mat-header-cell *matHeaderCellDef> Est un ornement </th>
      <td mat-cell *matCellDef="let jardin"> {{jardin.bornement ? 'oui' : 'non'}} </td>
    </ng-container>
    <ng-container matColumnDef="bVerger">
      <th mat-header-cell *matHeaderCellDef> Est un verger </th>
      <td mat-cell *matCellDef="let jardin"> {{jardin.bverger ? 'oui' : 'non'}} </td>
    </ng-container>
    <ng-container matColumnDef="typeSol">
      <th mat-header-cell *matHeaderCellDef> Type sol </th>
      <td mat-cell *matCellDef="let jardin"> {{jardin.typesol}} </td>
    </ng-container>
    <ng-container matColumnDef="hauteurMaximale">
      <th mat-header-cell *matHeaderCellDef> Hauteur maximale </th>
      <td mat-cell *matCellDef="let jardin"> {{jardin.hauteurmaximale}} </td>
    </ng-container>
    <ng-container matColumnDef="moreInfo">
      <th mat-header-cell *matHeaderCellDef> Plus d'informations </th>
      <td mat-cell *matCellDef="let jardin">
        <button mat-button (click)="openDialog(jardin)">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
