<div>
  <h1>Nos jardins</h1>
  <table mat-table [dataSource]="jardins" class="mat-elevation-z8">
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let jardin"> {{jardin.id}} </td>
    </ng-container>
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let jardin"> {{jardin.nom}} </td>
    </ng-container>
    <ng-container matColumnDef="surface">
      <th mat-header-cell *matHeaderCellDef> Surface </th>
      <td mat-cell *matCellDef="let jardin"> {{jardin.surface}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let jardin">
      <span *ngIf="jardin.bpotager">
        <mat-icon>spa</mat-icon> Potager
      </span>
      <span *ngIf="jardin.bornement">
        <mat-icon>local_florist</mat-icon> Ornement
      </span>
      <span *ngIf="jardin.bverger">
        <mat-icon>nature</mat-icon> Verger
      </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="typeSol">
      <th mat-header-cell *matHeaderCellDef> Type sol </th>
      <td mat-cell *matCellDef="let jardin"> {{jardin.typesol}} </td>
    </ng-container>
    <ng-container matColumnDef="hauteurMaximale">
      <th mat-header-cell *matHeaderCellDef> Hauteur maximale (m) </th>
      <td mat-cell *matCellDef="let jardin"> {{jardin.hauteurmaximale}} </td>
    </ng-container>
    <ng-container matColumnDef="moreInfo">
      <th mat-header-cell *matHeaderCellDef> Plus d'informations </th>
      <td mat-cell *matCellDef="let jardin">
        <button mat-button (click)="openDialog(jardin)">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
