table {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.o-color {
  color: #ffa90a;
}

.v-color {
  color: #667a67;
}

.p-color {
  color: #ec5732;
}

.circle-outline {
  background: #f2edfd;
}

.circle-inline {
  color: #9A75F0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
  color: #9a75f0;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

th {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center !important;
  vertical-align: middle !important;
  font-family: 'Roboto', sans-serif;
}
